body {
    background-color: #98e2f5;
    color: hsl(225, 88%, 38%);
    text-align: center;
    margin-top: 80px;
}

#placeholder {
    color:#308a1afd;
}

button {
    background-color: rgb(197, 143, 207);
    font-size: 20px;
}
